.keyy{
    position: absolute;
    left: 30px;
}
.g-1{
    position: absolute;
    left: 300px;
    bottom: 50px;
    
}
.g-00{
    position: absolute;
    left: 500px;
   
    
}
.g-001{
    position: absolute;
    top: 400px;
    left: 500px;
   
    
}
.g-002{
    position: absolute;
    top: 700px;
    left: 500px;
   
    
}
.g-003{
    position: absolute;
    top: 1000px;
    left: 500px;
   
    
}
.g-004{
    position: absolute;
    top: 1300px;
    left: 500px;
   
    
}
.g-005{
    position: absolute;
    top: 1600px;
    left: 500px;
   
    
}
.g-006{
    position: absolute;
    top: 1900px;
    left: 500px;
   
    
}