.carddd1{
    position: absolute;
    top: 1500px;
    left: 150px;
}
.carddd12{
    position: absolute;
    left: 150px;
    top: 1700px;
    
}
.FOOTR1{
    position: absolute;
    /* left: 100px; */
    top: 1900px;
}
